<!DOCTYPE html>
<html>
  <head>
    <title>My Facade Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Facade Generator</h1>
    <p>Welcome to Facade Generator</p>
    <script type="module" src="/javascripts/main.js"></script>
  </body>
</html>
